<div class="header">
  <ul>
    <li><a routerLink="/foods">Món ăn</a></li>
    <li *ngIf="userName == ''"><a routerLink="/signup">Đăng ký</a></li>
    <li *ngIf="userName == ''"><a routerLink="/signin">Đăng nhập</a></li>
    <li *ngIf="userName !== ''">
      <a>
        <mat-icon class="user-icon">person</mat-icon>
        {{ userName }}
      </a>
      <ul class="subnav">
        <li *ngIf="userName !== ''">
          <a routerLink="" (click)="signOut()">Đăng xuất</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
