.header {
  font-size: 1em;
  z-index: 2;
  background-color: #f27405;
  height: 45px;
  padding: 0 180px;
  box-shadow: 0 2px 5px 1px rgb(190, 190, 190);
  position: fixed;
  width: 100%;

  > ul {
    position: absolute;
    right: 180px;
    list-style: none;

    > li {
      display: inline-block;
      position: relative;

      a,
      h3 {
        display: inline-block;
        // width: 100%;
        line-height: 45px;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        padding: 0 18px;
        margin: 0;
      }
    }

    > li:hover {
      background-color: #f2913d;

      .subnav {
        display: block;
      }
    }

    .user-icon {
      display: inline-block;
      color: #fff;
      vertical-align: middle;
      transform: translateY(-2px);
    }

    .subnav {
      display: none;
      position: absolute;
      list-style: none;
      width: 100%;

      > li {
        background-color: #fd9a44;
      }

      > li:hover {
        // width: 100%;
        background-color: #ffa454;

        a {
          cursor: pointer;
        }
      }
    }
  }
}
