<div class="header">
  <ul>
    <li><a routerLink="/foods">Foods</a></li>
    <li *ngIf="userName == ''"><a routerLink="/signup">Sign up</a></li>
    <li *ngIf="userName == ''"><a routerLink="/signin">Sign in</a></li>
    <li *ngIf="userName !== ''">
      <mat-icon class="user-icon">person</mat-icon>
      <h3>{{ userName }}</h3>
      <ul class="subnav">
        <li *ngIf="userName !== ''">
          <a routerLink="" (click)="signOut()">Sign out</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
