.food-item {
  display: inline-block;
  width: 300px;
  border-radius: 6px;
  box-shadow: 3px 3px 5px 1px rgb(190, 190, 190);
  margin: 20px;

  .food-name h1 {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .image-container {
    height: 150px;
  }

  .body {
    min-height: 120px;
    max-height: 120px;
    padding: 10px;

    .food-review a {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .footer {
    min-height: 80px;
    max-height: 80px;
    padding: 10px;

    .food-tags {
      display: block;
      height: 2rem;
    }

    .tag {
      display: inline-block;
      padding: 2px 5px;
      border-radius: 5px;
      background-color: lightgrey;
      margin-right: 2px;
    }

    .detail-btn {
      display: inline-block;

      padding-top: 10px;
      cursor: pointer;
      color: #f27405;
    }

    .detail-btn:hover {
      color: #593122;
    }
  }
}

img {
  width: 100%;
  border-radius: 6px 6px 0 0;
  max-height: 150px;
  object-fit: cover;
}
