.sign-in-remind {
  img {
    max-width: 50%;
    left: 0;
    transform: translateX(50%);
  }
  h1 {
    text-align: center;
    margin-top: 20px;
    color: #f25d07;
  }
}

button {
  display: block;
}
