<h1>Thêm món mới</h1>
<form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
  <h3>Tên món</h3>

  <mat-form-field
    class="example-full-width"
    appearance="fill"
    class="food-name"
  >
    <mat-label>Tên món</mat-label>
    <input
      matInput
      placeholder=""
      formControlName="foodName"
      autocomplete="off"
    />
  </mat-form-field>

  <h3>Giá trung bình</h3>

  <mat-form-field
    class="example-full-width"
    appearance="fill"
    class="food-average-price"
  >
    <mat-label>Giá trung bình</mat-label>
    <input
      matInput
      placeholder=""
      value=""
      formControlName="averagePrice"
      autocomplete="off"
    />
  </mat-form-field>

  <h3>Địa chỉ</h3>

  <div formArrayName="addresses">
    <div
      *ngFor="let address of addressGroupControls(); let i = index"
      class="food-address"
    >
      <div [formGroupName]="i">
        <mat-form-field
          class="example-full-width"
          appearance="fill"
          class="address"
        >
          <mat-label>Địa chỉ</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="address"
            autocomplete="off"
          />
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          appearance="fill"
          class="ward"
        >
          <mat-label>Phường/Xã</mat-label>
          <input
            id="ward-input"
            type="text"
            matInput
            formControlName="ward"
            [matAutocomplete]="ward"
            autocomplete="new-password"
          />
          <mat-autocomplete
            #ward="matAutocomplete"
            [displayWith]="displayFn"
            (optionSelected)="onWardSelected(i, $event.option.value)"
          >
            <mat-option
              *ngFor="let option of filterWards[i] | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          appearance="fill"
          class="district"
        >
          <mat-label>Quận/Huyện</mat-label>
          <input
            id="district-input"
            type="text"
            matInput
            formControlName="district"
            [matAutocomplete]="district"
            autocomplete="new-password"
          />
          <mat-autocomplete
            #district="matAutocomplete"
            [displayWith]="displayFn"
            (optionSelected)="onDistrictSelected(i, $event.option.value)"
          >
            <mat-option
              *ngFor="let option of filterDistricts[i] | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          appearance="fill"
          class="city"
        >
          <mat-label>Tỉnh/Thành phố</mat-label>
          <input
            id="city-input"
            type="text"
            matInput
            formControlName="city"
            [matAutocomplete]="city"
            autocomplete="new-password"
          />
          <mat-autocomplete
            #city="matAutocomplete"
            [displayWith]="displayFn"
            (optionSelected)="onCitySelected(i, $event.option.value)"
          >
            <mat-option
              *ngFor="let option of filterCities[i] | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div (click)="onDeleteAddress(i)" class="delete-icon">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >delete</mat-icon
          >
        </div>
      </div>
    </div>
  </div>

  <button
    type="button"
    mat-raised-button
    (click)="onAddAddress()"
    class="add-address-btn"
  >
    + Địa chỉ
  </button>

  <h3>Link review</h3>

  <div formArrayName="reviews">
    <div *ngFor="let review of reviewControls(); let i = index">
      <mat-form-field
        class="example-full-width"
        appearance="fill"
        class="food-review"
      >
        <mat-label>Link Review</mat-label>
        <input
          matInput
          placeholder=""
          [formControlName]="i"
          autocomplete="off"
        />
      </mat-form-field>

      <div (click)="onDeleteReview(i)" class="delete-icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >delete</mat-icon
        >
      </div>
    </div>
  </div>

  <button
    type="button"
    mat-raised-button
    (click)="onAddReview()"
    class="add-review-btn"
  >
    + Link Review
  </button>

  <h3>Hình ảnh</h3>

  <!-- [TODO] Image Upload + Image pasting area -->

  <!-- <input type="file" name="food-image-input" #imageInput /> -->

  <div class="drop-image-area" (paste)="onDropImage($event)" #dropImageArea>
    Paste image here
  </div>

  <div *ngFor="let image of images; let i = index" class="image-preview">
    <div (click)="onDeleteImage(i)" class="delete-icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >delete</mat-icon
      >
    </div>
    <img [src]="image" alt="" />
  </div>

  <h3>Tag</h3>

  <mat-form-field class="example-chip-list" appearance="fill" class="food-tags">
    <mat-label>Favorite tags</mat-label>
    <mat-chip-list #chipList aria-label="tag selection">
      <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
        {{ tag }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="New tag..."
        #tagInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
        autocomplete="off"
      />
    </mat-chip-list>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)"
    >
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{ tag }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <h3>Ghi chú</h3>

  <mat-form-field
    class="example-full-width"
    appearance="fill"
    class="food-note"
  >
    <mat-label>Ghi chú</mat-label>
    <textarea
      matInput
      placeholder=""
      formControlName="note"
      autocomplete="off"
      rows="5"
    ></textarea>
  </mat-form-field>

  <button
    type="button"
    color="warn"
    mat-raised-button
    (click)="onDeleteFood()"
    *ngIf="isEditMode"
    class="submit-button"
  >
    Xóa
  </button>
  <button
    type="submit"
    color="primary"
    mat-raised-button
    *ngIf="isEditMode"
    class="submit-button"
  >
    Cập nhật
  </button>
  <button
    type="submit"
    color="primary"
    mat-raised-button
    *ngIf="!isEditMode"
    class="submit-button"
  >
    Thêm
  </button>
</form>
