<h1>Đăng ký</h1>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      id="email"
      type="email"
      matInput
      placeholder=""
      autocomplete="off"
      formControlName="email"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Tên hiển thị</mat-label>
    <input
      id="username"
      type="text"
      matInput
      placeholder=""
      autocomplete="off"
      formControlName="userName"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Mật khẩu</mat-label>
    <input
      id="password"
      type="password"
      matInput
      placeholder=""
      autocomplete="off"
      formControlName="password"
    />
  </mat-form-field>

  <button type="submit" color="primary" mat-raised-button>Đăng ký</button>
</form>
