.error-message {
  text-align: center;
  color: #ff0000;
  font-size: 0.9em;
  margin-bottom: 7px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  mat-form-field,
  button {
    width: 300px;
    // display: block;
  }
}
