<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      id="email"
      type="email"
      matInput
      placeholder=""
      autocomplete="off"
      formControlName="email"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Mật khẩu</mat-label>
    <input
      id="password"
      type="password"
      matInput
      placeholder=""
      autocomplete="off"
      formControlName="password"
    />
  </mat-form-field>

  <button type="submit" color="primary" mat-raised-button>Đăng nhập</button>
</form>
